
*{
    font-family: 'Heebo', sans-serif;
}
body{
    margin:0;
}

header, footer{
    text-align:center;
    background: black;
    color:white;
    padding: 1em;
    margin: 1em
}


section{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.6em;
    grid-template-rows: 1fr 1fr;
}

.box{display: grid;grid-template-columns: 1fr 1fr;grid-template-rows: 1fr 1fr;background: #4f717d59;border-radius: 0.5em;justify-items: center;align-items: center;padding: 0.7em;}


.box > img{
    grid-row: 1 / 4;
}


.box > h3{
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
}

.box > h5{
    margin: 0;
    font-size: 1rem;
    text-align: center;
    align-self: start;
}

.box > a{
    text-decoration: none;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    color: white;
    background: black;
    padding: 0.6em;
    cursor: pointer;
    display: inline-block;
    width: 60%;
    transition: all 0.3s linear;
    text-align: center;
    margin: auto;
}

.box > a:hover{
    color: black;
    background: white;
}

@media screen and (min-width: 768px){
    section{
        grid-template-columns: 1fr 1fr;
    }
}
